* {
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-family: 'Roboto';
  font-size: 16px;
  box-sizing: border-box;
  color: #767676;
  /* border: 1px solid red; */
}
body {
  height: 100vh;
}
html {
    background-color: #f5f3f0;
}
